<div class="alert alert-danger" role="alert">
    <%= message %>
</div>
<div class="card text-center border-0 p-3">
  <form>
    <button class="btn btn-dark btn-lg btn-block" formmethod="GET" formaction="/" formtarget="_self">Zurück</button>
  </form>
</div>