<div class="centered-form">
    <div class="centered-form__form">
        <div class="gif-field">
            <iframe src="https://giphy.com/embed/T9fHnACJJq8Ba" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div class="form-field">
            <label><h3>WM 2018 Tippspiel</h3></label>
        </div>
        <form method="post" action="/ma/fabi" novalidate>       
            <div class="form-field">
                <button>Fabi</button>
            </div>
        </form>
        <form method="post" action="/ma/maddin" novalidate>       
            <div class="form-field">
                <button>Maddin</button>
            </div>
        </form>
        <form method="post" action="/ma/rudi" novalidate>       
            <div class="form-field">
                <button>Rudi</button>
            </div>
        </form>
        <form method="post" action="/ma/tobi" novalidate>       
            <div class="form-field">
                <button>Tobi</button>
            </div>
        </form>
    </div>
</div>