<div class="inline-form">
    <div class="card text-center border-0 shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <!--<img class="card-img-top" src="https://media.giphy.com/media/T9fHnACJJq8Ba/giphy.gif" alt="Card image cap">-->
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/6/67/2018_FIFA_World_Cup.svg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Tippspiel</h4>
            <form>
                <button class="btn btn-dark btn-lg btn-block" formmethod="POST" formaction="/Fabi" formtarget="_self">Fabi</button>
                <button class="btn btn-dark btn-lg btn-block" formmethod="POST" formaction="/Maddin" formtarget="_self">Maddin</button>
                <button class="btn btn-dark btn-lg btn-block" formmethod="POST" formaction="/Rudi" formtarget="_self">Rudi</button>
                <button class="btn btn-dark btn-lg btn-block" formmethod="POST" formaction="/Tobi" formtarget="_self">Tobi</button>
            </form>
        </div>
        <div class="card-footer bg-white">
            <form>
            <button class="btn btn-primary btn-lg btn-block" formmethod="GET" formaction="/ranking" formtarget="_self">Ranking</button>
        </form>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>