<div class="alert alert-info" role="alert">
  <%= message %>
</div>
<div class="inline-form">
  <div class="card text-center border-0" style="width: 18rem;">
    <form>
      <button class="btn btn-dark btn-lg btn-block" formmethod="GET" formaction="/" formtarget="_self">Home</button>
    </form>
  </div>
</div>