<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>MA - WM 2018 Tippspiel</title>
    <link rel="stylesheet", href="/styles.css" type="text/css">
</head>
<body>
    <%- body %>
</body>
</html>