<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>


    <div class="inline-form">
        <div class="card border-0 shadow p-3 mb-5 bg-white rounded" id="card" style="width: 80%;">
            <h4 class="card-title text-center">Ranking</h4>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <% for (i = 0; i < names.length; i++) { %>
                        <li class="list-group-item">
                                <div class="form-row">
                                    <div class="col-6 font-weight-bold">
                                        <%= names[i] %>
                                    </div>
                                    <div class="col-6 text-right font-weight-bold">
                                        <%= points[i] %> Pkt.
                                    </div>
                                </div>
                              </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
