* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: .95rem;
}

.centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.inline-form {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;
}

.gif-field {
    margin-bottom: -20px;
}

.gif-field > * {
    width: 100%;
}

.form-field {
    margin: 20px 0;
}
  
.form-field > * {
    width: 100%;
}

.form-field label {
    display: block;
    margin-bottom: 7px;
}